@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-MediumItalic.eot');
  src: local('Graphik LCG Medium Italic'), local('GraphikLCG-MediumItalic'),
    url('../fonts/GraphikLCG-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-MediumItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-MediumItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-SuperItalic.eot');
  src: local('Graphik LCG Super Italic'), local('GraphikLCG-SuperItalic'),
    url('../fonts/GraphikLCG-SuperItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-SuperItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-SuperItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-SuperItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-SemiboldItalic.eot');
  src: local('Graphik LCG Semibold Italic'), local('GraphikLCG-SemiboldItalic'),
    url('../fonts/GraphikLCG-SemiboldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-SemiboldItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Black.eot');
  src: local('Graphik LCG Black'), local('GraphikLCG-Black'),
    url('../fonts/GraphikLCG-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Black.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Black.woff') format('woff'),
    url('../fonts/GraphikLCG-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Super.eot');
  src: local('Graphik LCG Super'), local('GraphikLCG-Super'),
    url('../fonts/GraphikLCG-Super.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Super.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Super.woff') format('woff'),
    url('../fonts/GraphikLCG-Super.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Thin.eot');
  src: local('Graphik LCG Thin'), local('GraphikLCG-Thin'),
    url('../fonts/GraphikLCG-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Thin.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Thin.woff') format('woff'),
    url('../fonts/GraphikLCG-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-ExtralightItalic.eot');
  src: local('Graphik LCG Extralight Italic'),
    local('GraphikLCG-ExtralightItalic'),
    url('../fonts/GraphikLCG-ExtralightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-ExtralightItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-ExtralightItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-ExtralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.eot');
  src: local('Graphik LCG Regular'), local('GraphikLCG-Regular'),
    url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff'),
    url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-BoldItalic.eot');
  src: local('Graphik LCG Bold Italic'), local('GraphikLCG-BoldItalic'),
    url('../fonts/GraphikLCG-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-BoldItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-BoldItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-LightItalic.eot');
  src: local('Graphik LCG Light Italic'), local('GraphikLCG-LightItalic'),
    url('../fonts/GraphikLCG-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-LightItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-LightItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-BlackItalic.eot');
  src: local('Graphik LCG Black Italic'), local('GraphikLCG-BlackItalic'),
    url('../fonts/GraphikLCG-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-BlackItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-BlackItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.eot');
  src: local('Graphik LCG Medium'), local('GraphikLCG-Medium'),
    url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff'),
    url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Light.eot');
  src: local('Graphik LCG Light'), local('GraphikLCG-Light'),
    url('../fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Light.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Light.woff') format('woff'),
    url('../fonts/GraphikLCG-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Semibold.eot');
  src: local('Graphik LCG Semibold'), local('GraphikLCG-Semibold'),
    url('../fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Semibold.woff') format('woff'),
    url('../fonts/GraphikLCG-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.eot');
  src: local('Graphik LCG Bold'), local('GraphikLCG-Bold'),
    url('../fonts/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Bold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Bold.woff') format('woff'),
    url('../fonts/GraphikLCG-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Extralight.eot');
  src: local('Graphik LCG Extralight'), local('GraphikLCG-Extralight'),
    url('../fonts/GraphikLCG-Extralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-Extralight.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Extralight.woff') format('woff'),
    url('../fonts/GraphikLCG-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-ThinItalic.eot');
  src: local('Graphik LCG Thin Italic'), local('GraphikLCG-ThinItalic'),
    url('../fonts/GraphikLCG-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GraphikLCG-ThinItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-ThinItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-RegularItalic.eot');
  src: local('Graphik LCG Regular Italic'), local('GraphikLCG-RegularItalic'),
    url('../fonts/GraphikLCG-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/GraphikLCG-RegularItalic.woff2') format('woff2'),
    url('../fonts/GraphikLCG-RegularItalic.woff') format('woff'),
    url('../fonts/GraphikLCG-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #051534;
  font-weight: 400;
  font-family: Graphik LCG;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 990px) {
  .container {
    max-width: 708px;
  }
}

.hidden {
  display: block;
}

/* ---header------------------------------------------------------------------- */

.header {
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  min-height: 80px;
  background: #ffffff;
  color: #2c3038;
}

.header__logo {
  margin-left: 30px;
  width: 104px;
  height: 24px;
}

@media (max-width: 600px) {
  .header__logo {
    margin: 0 auto;
  }
}

.menu {
  padding: 5px 0;
}

.header__menu {
  margin-left: 100px;
}

@media (max-width: 990px) {
  .header__menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item {
  display: flex;
  align-items: center;
}

.menu__item:not(:first-child) {
  margin: 0 0 0 30px;
}

.menu__link {
  font-size: 18px;
  line-height: calc(19.8 / 18 * 100%);
  color: #2c3038;
}

.image__arrow {
  width: 24px;
  height: 24px;
}

.header__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
}

@media (max-width: 990px) {
  .header__buttons {
    margin-right: 84px;
  }
}

@media (max-width: 600px) {
  .header__buttons {
    display: none;
  }
}

.container__demo {
  display: flex;
  align-items: center;
  padding: 10px, 18px, 10px, 15px;
}

@media (max-width: 990px) {
  .container__demo {
    display: none;
  }
}

.image__demo {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.button__demo {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #051534;
  border: none;
  background: none;
  cursor: pointer;
}

.button__login {
  margin-right: 10px;
  background: #fff;
  border: 1px solid #0515344d;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button__register {
  background: #0f8ff9;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.menu__icon {
  display: none;
}

@media (max-width: 990px) {
  .menu__icon {
    display: block;
    width: 24px;
    height: 24px;
    z-index: 5;
    position: absolute;
    top: 28px;
    right: 30px;
  }
}

/* ----main------------------------------------------------------------------ */

.main {
  flex: 1 1 auto;
  background-color: #fff;
}

/* -------------------------------------------------------------------------- */

.main__balancer-info {
  margin: 0 0 200px 0;
  background-color: #fbfbfb;
}

@media (max-width: 990px) {
  .main__balancer-info {
    margin: 0 0 150px 0;
  }
}

@media (max-width: 600px) {
  .main__balancer-info {
    margin: 0 0 100px 0;
  }
}

.balancer-info__container {
  text-align: center;
  padding-top: 150px;
}

@media (max-width: 990px) {
  .balancer-info__container {
    padding-top: 120px;
  }
}

@media (max-width: 600px) {
  .balancer-info__container {
    padding-top: 70px;
  }
}

.balancer-info__header {
}

.balancer-info__body {
}

.balancer-info__title {
  margin-bottom: 20px;
  font-size: 65px;
  font-weight: 700;
  line-height: calc(71.5 / 65 * 100%);
}

@media (max-width: 600px) {
  .balancer-info__title {
    font-size: 40px;
    font-weight: 700;
    line-height: calc(46 / 40 * 100%);
  }
}

.balancer-info__text {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}

@media (max-width: 600px) {
  .balancer-info__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.balancer-info__button {
  margin-bottom: 70px;
  padding: 18px 28px 18px 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  border: none;
  border-radius: 4px;
  background: #00c064;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 600px) {
  .balancer-info__button {
    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
  }
}

.balancer-info__image {
  width: 100%;
}
.balancer-info__image__phone {
  display: none;
  width: 100%;
}
@media (max-width: 600px) {
  .balancer-info__image {
    display: none;
  }
  .balancer-info__image__phone {
    display: block;
  }
}

/* -------------------------------------------------------------------------- */

.main__balance-final {
  margin: 0 0 200px 0;
}

@media (max-width: 990px) {
  .main__balance-final {
    margin: 0 0 150px 0;
  }
}

@media (max-width: 600px) {
  .main__balance-final {
    margin: 0 0 100px 0;
    flex-direction: column;
    align-items: center;
  }
}

.balance-final__container {
}

.balance-final__header {
  display: flex;
  align-items: center;
}

@media (max-width: 990px) {
  .balance-final__header {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .balance-final__header {
    flex-direction: column;
    align-items: center;
  }
}

.balance-final__image {
  width: 200px;
  height: 200px;
}

@media (max-width: 990px) {
  .balance-final__image {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 600px) {
  .balance-final__image {
    margin: 0 0 20px 0;
  }
}

.balance-final__text {
  font-size: 32px;
  line-height: calc(48 / 32 * 100%);
  font-weight: 400;
}

.balance-final__text strong {
  font-size: 32px;
  line-height: calc(48 / 32 * 100%);
  font-weight: 600;
}

@media (max-width: 990px) {
  .balance-final__text {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .balance-final__text {
    font-size: 22px;
    line-height: calc(33 / 22 * 100%);
    font-weight: 400;
  }

  .balance-final__text strong {
    font-size: 22px;
    line-height: calc(33 / 22 * 100%);
    font-weight: 600;
  }
}
/* -------------------------------------------------------------------------- */

.main__financial-picture {
  margin-bottom: 200px;
}

@media (max-width: 990px) {
  .main__financial-picture {
    margin-bottom: 150px;
  }
}

@media (max-width: 600px) {
  .main__financial-picture {
    margin-bottom: 100px;
  }
}

.financial-picture__container {
  display: flex;
  align-items: center;
}

@media (max-width: 990px) {
  .financial-picture__container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .financial-picture__container {
    flex-direction: column;
    text-align: left;
  }
}

.financial-picture__header {
}

.financial-picture__body {
}

.financial-picture__title {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 600;
  line-height: calc(50 / 45 * 100%);
}

.financial-picture__text {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}

@media (max-width: 600px) {
  .financial-picture__title {
    font-size: 30px;
    font-weight: 600;
    line-height: calc(36 / 30 * 100%);
  }

  .financial-picture__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.financial-picture__image {
  width: 558px;
  height: 540px;
}
.financial-picture__image__phone {
  display: none;
  width: 100%;
}
@media (max-width: 600px) {
  .financial-picture__image {
    display: none;
  }
  .financial-picture__image__phone {
    display: block;
  }
}

/* -------------------------------------------------------------------------- */

.main__business-health {
  margin-bottom: 200px;
}

@media (max-width: 990px) {
  .main__business-health {
    margin-bottom: 150px;
  }
}

@media (max-width: 600px) {
  .main__business-health {
    margin-bottom: 100px;
  }
}

.business-health__container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media (max-width: 990px) {
  .business-health__container {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .business-health__container {
    flex-direction: column;
    text-align: left;
  }
}

.business-health__header {
  margin-left: 60px;
}

@media (max-width: 990px) {
  .business-health__header {
    margin-left: 0;
  }
}

.business-health__body {
}

.business-health__title {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 600;
  line-height: calc(50 / 45 * 100%);
}

.business-health__text {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}

@media (max-width: 600px) {
  .business-health__title {
    font-size: 30px;
    font-weight: 600;
    line-height: calc(36 / 30 * 100%);
  }

  .business-health__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.business-health__image {
  width: 558px;
  height: 540px;
}
.business-health__image__phone {
  display: none;
  width: 100%;
}
@media (max-width: 600px) {
  .business-health__image {
    display: none;
  }
  .business-health__image__phone {
    display: block;
  }
}

/* -------------------------------------------------------------------------- */

.main__wizard-assembly {
  margin-bottom: 220px;
}

@media (max-width: 990px) {
  .main__wizard-assembly {
    margin-bottom: 150px;
  }
}

@media (max-width: 600px) {
  .main__wizard-assembly {
    margin-bottom: 100px;
  }
}

.wizard-assembly__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wizard-assembly__header {
  margin-bottom: 60px;
  text-align: center;
}

@media (max-width: 990px) {
  .wizard-assembly__header {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .wizard-assembly__header {
    margin-bottom: 20px;
    text-align: left;
  }
}

.wizard-assembly__body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wizard-assembly__title {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 600;
  line-height: calc(50 / 45 * 100%);
}

.wizard-assembly__text {
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}

@media (max-width: 600px) {
  .wizard-assembly__title {
    font-size: 30px;
    font-weight: 600;
    line-height: calc(36 / 30 * 100%);
  }
  .wizard-assembly__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.wizard-assembly__video-container {
  width: 100%;
  height: 760px;
}

.wizard-assembly__video-header {
  width: 100%;
  height: 2rem;
}

.wizard-assembly__video {
  width: 100%;
  height: 100%;
}

@media (max-width: 990px) {
  .wizard-assembly__video-container {
    width: 100%;
    height: 579px;
  }
}

@media (max-width: 600px) {
  .wizard-assembly__video-container {
    width: 100%;
    height: 263px;
  }
}

/* -------------------------------------------------------------------------- */

.main__automatic-updates {
  margin-bottom: 250px;
}

@media (max-width: 990px) {
  .main__automatic-updates {
    margin-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .main__automatic-updates {
    margin-bottom: 100px;
  }
}

.automatic-updates__container {
  display: flex;
  align-items: center;
}

@media (max-width: 990px) {
  .automatic-updates__container {
    margin-bottom: 200px;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .automatic-updates__container {
    text-align: left;
  }
}

.automatic-updates__header {
}

.automatic-updates__body {
}

.automatic-updates__title {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 600;
  line-height: calc(50 / 45 * 100%);
}
.automatic-updates__text {
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}
.automatic-updates__text:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .automatic-updates__title {
    font-size: 30px;
    font-weight: 600;
    line-height: calc(36 / 30 * 100%);
  }
  .automatic-updates__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.automatic-updates__image {
  width: 558px;
  height: 540px;
}
.automatic-updates__image__phone {
  width: 100%;
  display: none;
}
@media (max-width: 600px) {
  .automatic-updates__image {
    display: none;
  }
  .automatic-updates__image__phone {
    display: block;
  }
}

/* -------------------------------------------------------------------------- */

.main__business-resources {
  margin-bottom: 250px;
}

@media (max-width: 990px) {
  .main__business-resources {
    margin-bottom: 200px;
  }
}

@media (max-width: 600px) {
  .main__business-resources {
    margin-bottom: 100px;
  }
}

.business-resources__container {
  display: flex;
  justify-content: center;
}

.business-resources__header {
  width: 946px;
  text-align: center;
}

@media (max-width: 600px) {
  .business-resources__header {
    text-align: left;
  }
}

.business-resources__body {
}

.business-resources__title {
  margin-bottom: 20px;
  font-size: 55px;
  font-weight: 600;
  line-height: calc(61 / 55 * 100%);
}
.business-resources__text {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
  line-height: calc(33 / 22 * 100%);
}
@media (max-width: 600px) {
  .business-resources__title {
    font-size: 30px;
    font-weight: 600;
    line-height: calc(36 / 30 * 100%);
  }
  .business-resources__text {
    font-size: 18px;
    font-weight: 400;
    line-height: calc(27 / 18 * 100%);
  }
}

.business-resources__button {
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  padding: 18px 28px 18px 28px;
  background: #00c064;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .business-resources__button {
    width: 100%;
  }
}

/* ---footer------------------------------------------------------------------- */

.footer {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #051534;
  color: #fff;
}

/* -------------------------------------------------------------------------- */

.footer__logo-container {
  margin-bottom: 60px;
  display: flex;
  word-wrap: break-word;
  width: 100px;
}

@media (max-width: 600px) {
  .footer__logo-container {
    margin-bottom: 40px;
  }
}

.logo__footer {
  margin-right: 15px;
  width: 44px;
  height: 44px;
}
@media (max-width: 600px) {
  .footer__logo {
    width: 200px;
    height: 150px;
  }
}

.footer__logo-title {
  font-size: 22px;
  font-weight: 400;
  line-height: calc(26 / 22 * 100%);
}

.footer__logo-title strong {
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */

.footer__menu {
  margin-inline: auto;
  display: flex;
  padding: 0px 0px 100px 0px;
}

@media (max-width: 600px) {
  .footer__menu {
    flex-direction: column;
    padding: 0;
  }
}

.footer__section {
}

.footer__section:not(:last-child) {
  margin-right: 60px;
  margin-bottom: 15px;
}

.footer__section:nth-child(2) {
  margin-bottom: 15px;
}

@media (max-width: 990px) {
  .footer__section:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .footer__section:not(:last-child) {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .footer__section:nth-child(2) {
    margin-bottom: 15px;
  }
  .footer__menu-info .footer__section:nth-child(2) {
    display: none;
  }
  .footer__menu-info .footer__section:nth-child(3) {
    display: none;
  }
}

.footer__column1 {
  margin-right: 60px;
  display: flex;
}
.footer__column2 {
  display: flex;
}
@media (max-width: 990px) {
  .footer__column1 {
    flex-direction: column;
  }

  .footer__column2 {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .footer__column1 {
    margin: 0;
  }
  .footer__column2 {
    margin: 0;
  }
}

.footer__menu-info {
}

/* -------------------------------------------------------------------------- */

.footer__list {
  line-height: 30px;
  list-style: none;
}

@media (max-width: 600px) {
  .footer__list {
    display: none;
  }
}

.footer__title {
  margin-bottom: 7.5px;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

@media (max-width: 600px) {
  .footer__title {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: calc(24 / 20 * 100%);
  }
}

.footer__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__arrow {
  display: none;
  width: 15px;
  height: 9.26px;
}
@media (max-width: 600px) {
  .footer__arrow {
    display: block;
  }
}

.footer__item-img {
  display: flex;
  align-items: center;
}

.footer__item {
}
@media (max-width: 600px) {
  .footer__item:first-child {
    margin-top: 7.5px;
  }
}

.footer__item:not(:last-child) {
}

.footer__link {
  color: #8394b5;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

/* -------------------------------------------------------------------------- */

.image__course {
  width: 18px;
  height: 18px;
}

.footer__payments-apps {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .footer__payments-apps {
    padding: 30px 0 30px 0;
  }
}

.footer__payments {
}

@media (max-width: 600px) {
  .footer__payments {
    display: none;
  }
}

.footer__apps {
}

.footer__payment:not(:last-child) {
  margin-right: 15px;
}

.footer__app:not(:last-child) {
  margin-right: 5px;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0 25px 0;
}

@media (max-width: 990px) {
  .footer__copyright {
    border: none;
  }
}

.footer__copyright-texts {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(17 / 14 * 100%);
  color: rgba(255, 255, 255, 0.5);
}
.footer__copyright-text:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 990px) {
  .footer__copyright-text span {
    color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 600px) {
  .footer__copyright-texts {
    flex-direction: column;
  }
  .footer__copyright-text:not(:last-child) {
    margin-bottom: 10px;
  }
}

.footer__copyright-images {
  display: flex;
  align-items: center;
}
.footer__copyright-image:not(:last-child) {
  margin-right: 30px;
}

@media (max-width: 990px) {
  .footer__container {
    position: relative;
  }
  .footer__copyright {
    flex-direction: column-reverse;
  }
  .footer__copyright-images {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (max-width: 600px) {
  .footer__container {
    position: static;
  }
  .footer__copyright {
    flex-direction: column-reverse;
  }
  .footer__copyright-images {
    position: static;
    margin-bottom: 40px;
  }
}

@media (max-width: 1300px) {
  .container {
    padding-left: calc(15px + (30 - 15) * ((100vw - 375px) / (1300 - 375)));
    padding-right: calc(15px + (30 - 15) * ((100vw - 375px) / (1300 - 375)));
    width: calc(345px + (1140 - 345) * ((100vw - 375px) / (1140 - 375)));
  }
}
